<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <!--沙箱测试环境-->
    <!--Appkey-->
    <add key="AppKey" value="T3074812165" />
    <!--secret-->
    <add key="Secret" value="504a282d5c0866ecaf9ccb31f72087a2" />

    <!--正式环境-->
    <!--Appkey-->
    <!--<add key="AppKey" value="3076172162" />-->
    <!--secret-->
    <!--<add key="Secret" value="3706c30791a5c29cef3ef83079decdf1" />-->
    
  </appSettings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>

</configuration>
